.navbar {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    font-size: 2rem;
}

.links ul {
    list-style: none;
    display: flex;
    gap: 18px;
}

.links ul li {
    color: #808080;
    
}

.cart i {
    position: absolute;
    font-size: 28px;
    color: #808080;
}

.cart .dot {
    position: relative;
    top: -8px;
    right: -16px;
    background-color: #3d7e59;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    margin-left: 5px;
}

.active {
    padding-bottom: 7px;
    border-bottom: 3px solid #3d7e59;
    color: #3d7e59;
}